<div class='oborona'>
<div class='ooo'>
ОООО! Моя оборона!
</div>
<div class='oborona_defined'>
<%= oborona.capitalize %>
</div>
<div class='another'>
<a href='/'>что еще такое моя оборона</a>
</div>
</div>
