body {
    background-color: black;
}

.oborona {
    background-color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.ooo {
    font-size: larger;
    color: orange;
}

.oborona_defined {
    font-size: xx-large;
    color: red;
}


.another a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
